<footer>
    <div class="mt-16 mb-8 text-center text-sm leading-relaxed text-cool-gray-600">
        <nav class="mb-6 text-xl text-cool-gray-500">
            <a href="https://github.com/benoram" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" target="_blank">GitHub</a>            &nbsp;/&nbsp;
            <a href="https://keybase.io/benoram/chat" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" target="_blank">Keybase</a>            &nbsp;|&nbsp;
            <a href="/documents/resume-ben-oram.pdf" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" target="_blank">Resume</a>            &nbsp;\&nbsp;
            <a href="https://twitter.com/benzoram" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" target="_blank">Twitter</a>
        </nav>

        <p class="mb-2">&copy; {{ now.Format "2006"}} Ben Oram</p>

    </div>
</footer>