<div class="bg-white my-12 mx-4 sm:mx-4 lg:mx-auto">
  <div>
    <div>
      <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Ben Oram</h2>
      <p class="mt-5 text-xl text-gray-500">Quick notes on Tech, AWS, .NET & Containers</p>
    </div>                
  </div>  
  <nav class="text-xl leading-relaxed text-cool-gray-500 py-6">
    <a href="/" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" rel="prefetch">Posts</a>    
    &nbsp;/&nbsp;
    <a href="/about" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" rel="prefetch">About</a>          
    &nbsp;\&nbsp;
    <a href="https://github.com/benoram" class="text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform focus:text-blue-400 focus:border-blue-400 hover:text-blue-400 hover:border-blue-400" target="_blank">GitHub</a>          
  </nav>
</div>