{{ define "content" }}

<div class="bg-white overflow-hidden mx-4 sm:mx-4 lg:mx-auto">
    <div class="text-lg max-w-prose mx-auto">
        <p class="mt-8 text-xl text-gray-500 leading-8">My name is Ben Oram. I'm an experienced software developer, cloud architect and leader focused on AWS and .NET. </p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
        <p></p>
        <figure>
            <img class="w-full rounded-lg" src="/images/pikespeak.jpg" alt="" width="1310" height="873">
            <figcaption>Near home. Photo by <a href="https://unsplash.com/@joshua_forbes">Joshua Forbes</a></figcaption>
        </figure>
    </div>
</div>

{{ end }}